<div class="container container-custom">
  {{#each posts}}
    <div class=post-container>
      <h4><a href="/posts/{{this.postId}}">{{this.title}}</a></h4>
      <p>By: {{this.firstName}} {{this.lastName}}</p>
      <p>Posted: <span class="date">{{this.createdAt}}</span></p>
      <p>{{this.postBody}}</p>
    </div>
  {{/each}}
</div>
